// CSS libraries dependencies
@import 'https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.0.0/magnific-popup.css'
@import 'https://fonts.googleapis.com/css?family=Lato:400,100,100italic,300,300italic,400italic,700,700italic,900,900italic'

// Core variables and mixins
@import '../../../bower_components/bootstrap-stylus/bootstrap/variables.styl'
@import '../../../bower_components/bootstrap-stylus/bootstrap/mixins.styl'

// Reset and dependencies
@import '../../../bower_components/bootstrap-stylus/bootstrap/normalize.styl'

// Core CSS
@import '../../../bower_components/bootstrap-stylus/bootstrap/scaffolding.styl'
@import '../../../bower_components/bootstrap-stylus/bootstrap/utilities.styl'
@import '../../../bower_components/bootstrap-stylus/bootstrap/type.styl'
@import '../../../bower_components/bootstrap-stylus/bootstrap/code.styl'
@import '../../../bower_components/bootstrap-stylus/bootstrap/grid.styl'
@import '../../../bower_components/bootstrap-stylus/bootstrap/forms.styl'
@import '../../../bower_components/bootstrap-stylus/bootstrap/input-groups.styl'
@import '../../../bower_components/bootstrap-stylus/bootstrap/buttons.styl'
@import '../../../bower_components/bootstrap-stylus/bootstrap/wells.styl'

// Components
@import '../../../bower_components/bootstrap-stylus/bootstrap/component-animations.styl'
@import '../../../bower_components/bootstrap-stylus/bootstrap/navs.styl'
@import '../../../bower_components/bootstrap-stylus/bootstrap/navbar.styl'
@import '../../../bower_components/bootstrap-stylus/bootstrap/jumbotron.styl'
@import '../../../bower_components/bootstrap-stylus/bootstrap/responsive-embed.styl'

// Utility classes
@import '../../../bower_components/bootstrap-stylus/bootstrap/responsive-utilities.styl'

// External dependencies
@import '../../../bower_components/typographic/stylus/typographic.styl'
@import '../../../bower_components/google-material-color/dist/palette.styl'