.icon-arrow
	sprite($arrow)
.icon-stopwatch
	sprite($stopwatch)
.icon-dumbbell
	sprite($dumbbell)
.icon-verification
	sprite($verification)
.icon-ipad
	sprite($ipad)
.icon-synchronization
	sprite($synchronization)
.icon-multiple
	sprite($multiple)
.icon-logo
	sprite($logo)
.icon-xs-facebook
	sprite($xs-facebook)
.icon-xs-twitter
	sprite($xs-twitter)
.icon-xs-youtube
	sprite($xs-youtube)
.icon-md-facebook
	sprite($md-facebook)
.icon-md-twitter
	sprite($md-twitter)
.icon-md-youtube
	sprite($md-youtube)