.icon-logo
	sprite($logo)
.icon-stopwatch
	sprite($stopwatch)
.icon-dumbbell
	sprite($dumbbell)
.icon-verification
	sprite($verification)
.icon-ipad
	sprite($ipad)
.icon-synchronization
	sprite($verification)
.icon-multiple
	sprite($multiple)
.icon-footer
	sprite($footer)
.icon-facebook
	sprite($facebook)
.icon-twitter
	sprite($twitter)
.icon-youtube
	sprite($youtube)