doctype html
html.no-js(lang='pt-br')
	include shares/head
	body
		include shares/navbar
		include shares/header
		include shares/features
		include shares/content
		include shares/subscribe
		include shares/footer
		include shares/end