header.navbar-fixed
	nav
		.container
			.nav-wrapper
				a.brand-logo(href='#home') Logotipo
				ul.right.hide-on-med-and-down
					li
						a(href='#menu1') Menu 1
					li
						a(href='#menu2') Menu 2
				ul#slide-out.side-nav
					li
						a(href='#menu1') Menu 1
					li
						a(href='#menu2') Menu 2
				a.button-collapse(href='#', data-activates='slide-out')
					i.mdi-navigation-menu