main#menu1.container.scrollspy
	.row
		.col.s12
			h4 Lorem ipsum dolor
			p
				| 	Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet eaque quo atque corporis soluta facere dolore cum dolorem dolor consequuntur explicabo inventore nesciunt placeat, rem odit eos iure fugiat tempore!
		.col.s12.m4.l4
			.card
				.card-image.waves-effect.waves-block.waves-light
					img.activator(src='holder.js/397x270?auto=yes&random=yes')
				.card-content
					span.card-title.activator.grey-text.text-darken-4
						| Lorem ipsum dolor
						i.mdi-navigation-more-vert.right
				.card-reveal
					span.card-title.grey-text.text-darken-4
						| Lorem ipsum dolor
						i.mdi-navigation-close.right
					p
						| 	Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates incidunt harum, facere assumenda.
		.col.s12.m4.l4
			.card
				.card-image.waves-effect.waves-block.waves-light
					img.activator(src='holder.js/397x270?auto=yes&random=yes')
				.card-content
					span.card-title.activator.grey-text.text-darken-4
						| Lorem ipsum dolor
						i.mdi-navigation-more-vert.right
				.card-reveal
					span.card-title.grey-text.text-darken-4
						| Lorem ipsum dolor
						i.mdi-navigation-close.right
					p
						| 	Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates incidunt harum, facere assumenda.
		.col.s12.m4.l4
			.card
				.card-image.waves-effect.waves-block.waves-light
					img.activator(src='holder.js/397x270?auto=yes&random=yes')
				.card-content
					span.card-title.activator.grey-text.text-darken-4
						| Lorem ipsum dolor
						i.mdi-navigation-more-vert.right
				.card-reveal
					span.card-title.grey-text.text-darken-4
						| Lorem ipsum dolor
						i.mdi-navigation-close.right
					p
						| 	Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates incidunt harum, facere assumenda.
	.row
		.col.s12.m4.l4
			.card
				.card-image.waves-effect.waves-block.waves-light
					img.activator(src='holder.js/397x270?auto=yes&random=yes')
				.card-content
					span.card-title.activator.grey-text.text-darken-4
						| Lorem ipsum dolor
						i.mdi-navigation-more-vert.right
				.card-reveal
					span.card-title.grey-text.text-darken-4
						| Lorem ipsum dolor
						i.mdi-navigation-close.right
					p
						| 	Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates incidunt harum, facere assumenda.
		.col.s12.m4.l4
			.card
				.card-image.waves-effect.waves-block.waves-light
					img.activator(src='holder.js/397x270?auto=yes&random=yes')
				.card-content
					span.card-title.activator.grey-text.text-darken-4
						| Lorem ipsum dolor
						i.mdi-navigation-more-vert.right
				.card-reveal
					span.card-title.grey-text.text-darken-4
						| Lorem ipsum dolor
						i.mdi-navigation-close.right
					p
						| 	Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates incidunt harum, facere assumenda.
		.col.s12.m4.l4
			.card
				.card-image.waves-effect.waves-block.waves-light
					img.activator(src='holder.js/397x270?auto=yes&random=yes')
				.card-content
					span.card-title.activator.grey-text.text-darken-4
						| Lorem ipsum dolor
						i.mdi-navigation-more-vert.right
				.card-reveal
					span.card-title.grey-text.text-darken-4
						| Lorem ipsum dolor
						i.mdi-navigation-close.right
					p
						| 	Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates incidunt harum, facere assumenda.
	.outer
		a.waves-effect.waves-light.btn Ver mais
		.row.inner
			.col.s12.m4.l4
				.card
					.card-image.waves-effect.waves-block.waves-light
						img.activator(src='holder.js/397x270?auto=yes&random=yes')
					.card-content
						span.card-title.activator.grey-text.text-darken-4
							| Lorem ipsum dolor
							i.mdi-navigation-more-vert.right
					.card-reveal
						span.card-title.grey-text.text-darken-4
							| Lorem ipsum dolor
							i.mdi-navigation-close.right
						p
							| 	Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates incidunt harum, facere assumenda.
			.col.s12.m4.l4
				.card
					.card-image.waves-effect.waves-block.waves-light
						img.activator(src='holder.js/397x270?auto=yes&random=yes')
					.card-content
						span.card-title.activator.grey-text.text-darken-4
							| Lorem ipsum dolor
							i.mdi-navigation-more-vert.right
					.card-reveal
						span.card-title.grey-text.text-darken-4
							| Lorem ipsum dolor
							i.mdi-navigation-close.right
						p
							| 	Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates incidunt harum, facere assumenda.
			.col.s12.m4.l4
				.card
					.card-image.waves-effect.waves-block.waves-light
						img.activator(src='holder.js/397x270?auto=yes&random=yes')
					.card-content
						span.card-title.activator.grey-text.text-darken-4
							| Lorem ipsum dolor
							i.mdi-navigation-more-vert.right
					.card-reveal
						span.card-title.grey-text.text-darken-4
							| Lorem ipsum dolor
							i.mdi-navigation-close.right
						p
							| 	Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates incidunt harum, facere assumenda.
		.row.inner
			.col.s12.m4.l4
				.card
					.card-image.waves-effect.waves-block.waves-light
						img.activator(src='holder.js/397x270?auto=yes&random=yes')
					.card-content
						span.card-title.activator.grey-text.text-darken-4
							| Lorem ipsum dolor
							i.mdi-navigation-more-vert.right
					.card-reveal
						span.card-title.grey-text.text-darken-4
							| Lorem ipsum dolor
							i.mdi-navigation-close.right
						p
							| 	Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates incidunt harum, facere assumenda.
			.col.s12.m4.l4
				.card
					.card-image.waves-effect.waves-block.waves-light
						img.activator(src='holder.js/397x270?auto=yes&random=yes')
					.card-content
						span.card-title.activator.grey-text.text-darken-4
							| Lorem ipsum dolor
							i.mdi-navigation-more-vert.right
					.card-reveal
						span.card-title.grey-text.text-darken-4
							| Lorem ipsum dolor
							i.mdi-navigation-close.right
						p
							| 	Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates incidunt harum, facere assumenda.
			.col.s12.m4.l4
				.card
					.card-image.waves-effect.waves-block.waves-light
						img.activator(src='holder.js/397x270?auto=yes&random=yes')
					.card-content
						span.card-title.activator.grey-text.text-darken-4
							| Lorem ipsum dolor
							i.mdi-navigation-more-vert.right
					.card-reveal
						span.card-title.grey-text.text-darken-4
							| Lorem ipsum dolor
							i.mdi-navigation-close.right
						p
							| 	Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates incidunt harum, facere assumenda.