body
	font-family 'Roboto', sans-serif
	font-weight 300
	-webkit-font-smoothing antialiased
	-moz-osx-font-smoothing grayscale
.background
	left 0
	top @left
	width 100%
	background-repeat no-repeat
	background-position center
	background-size cover
	-webkit-background-size @background-size
	-moz-background-size @background-size
	-o-background-size @background-size
.section
	padding 50px 0
.section-heading
	margin-bottom 50px
.section-title
	margin-top 0
	text-transform uppercase
	font-weight 900
.divisor
	max-width 50px
	border-width 3px
	margin-bottom 0
.footer-title-box
	margin-top 0
	text-transform uppercase
	font-weight 900
	color palette('Grey', '50')
	margin-bottom 2.5rem
	font-size 2.2rem
@media (min-width: 992px)
	body
		font-size 16px