.content-header
	padding 3em 0
	text-align center
	background-color palette('White')
	.title-content
		color palette('Grey', '500')
		text-transform uppercase
		font-weight 900
	.small
		max-width 20em
.content-a
	padding 5em 0
	background-color palette('White')
	.title-content-heading
		font-weight 900
		text-transform uppercase
		color palette('Grey', '500')
		text-align center
	.lead
		text-align center
	.img-content
		margin 0 auto
.content-b
	@extends .content-a
@media(min-width: 768px)
	.content-header
		.title-content
			margin-top 0.3em
	.content-a
		.title-content-heading
			text-align left
		.lead
			text-align left
	.content-b
		@extends .content-a