.features
	height 100vh
	background-color palette('Teal', '400')
	color palette('Grey', '50')
	.vertical-features
		min-height @height
		display flex
		align-items center
		text-align @align-items
		.container
			.header-features
				.divisor
					max-width 200px
			.block-features
				.icon-features
					width 64px
					height 64px
@media (min-width: 768px)
	.block-features
		margin-top 30px