.features
	padding-top 25px
	padding-bottom 35px
	background-color palette('Blue', '700')
	color palette('Grey', '50')
	.title-features
		font-style normal
		font-weight 900
		font-size 3em
	.small
		max-width 200px
		padding-bottom @padding-top
	.material-icons
		display block !important
		font-size 6em
	.block-title-features
		font-style normal
		font-weight 500
		font-size 1.8em
	.block-text-features
		padding 0 20px 0 20px
		font-style normal
		font-weight 300
		font-size 1.2em
@media (min-width: 768px)
	.features
		.block-features
			margin-bottom 40px
			.block-text-features
				padding 0 5px 0 5px
		.block-features-two
			.block-text-features
				padding 0 5px 0 5px
@media (min-width: 992px)
	.features
		padding-top 40px
		padding-bottom 50px