.features
	height 100vh
	background-color palette('Teal', '400')
	color palette('Grey', '50')
	.vertical-features
		min-height @height
		display flex
		align-items center
		text-align @align-items
		.container
			.header-features
				.title-features
					color palette('Grey', '50')
					text-transform uppercase
					font-weight 900
				.divisor
					max-width 20em
			.block-features
				.icon-features
					width 64px
					height @width
				.block-title-features
					color palette('Grey', '50')
					text-transform uppercase
					font-weight 900
					margin-top 0.5em
				.block-description-features
					color palette('Grey', '50')
					font-size 1.8em
					font-weight 300