.footer
	@extends .section
	background-color palette('Blue Grey', '900')
	.footer-content
		.footer-description
			.icon
				margin-bottom 1.5rem
			.footer-text-description
				color palette('Grey', '50')
				font-style italic
		.footer-links
			.list-inline
				li
					padding-right 0
					a
						color palette('Grey')
						text-transform uppercase
						&:hover
							color palette('Grey', '50')
		.footer-social
			.footer-social-box
				a
					margin-right 0.5rem
					.icon
						display inline-block
		.footer-address
			.footer-address-box
				color palette('Grey', '50')
				font-style italic
@media (min-width: 768px)
	.footer-title-box
		margin-bottom 2.5rem