header
	height 100vh
	background-image url(../img/hero.jpg)
	background-size cover
	background-position center
	display: flex
	flex-direction: column
	justify-content: @background-position
	align-items: @background-position
	text-align: @background-position
	.title-header
		font-family Lato
		font-weight 900
		text-transform uppercase
		color palette('Grey', '50')
	.description-header
		font-weight 500
		text-transform uppercase
		color palette('Grey', '50')
		font-size 1.8em
	.btn
		border-radius 0
		font-size 1.6em
		font-weight 300
		text-transform uppercase
	.btn-info
		border-color transparent