.header
	height 75vh
	background linear-gradient(
		rgba(0, 0, 0, 0.5),
		rgba(0, 0, 0, 0.5)),
		url(../img/header.jpg)
	@extends .background
	.header-content
		min-height @height
		display flex
		align-items center
		text-align @align-items
		.icon
			margin 0 auto
		.header-title
			text-transform uppercase
			color palette('Grey', '50')
			font-weight 900
		.header-subtitle
			text-transform uppercase
			color palette('Grey', '50')
			font-weight 500
		.youtube
			height 60px
			border-radius 0
			text-transform uppercase
			font-style italic
			font-weight 900
			&:focus
				outline 0 none