header
	height 100vh
	background-image url(../img/hero.jpg)
	background-size cover
	background-position center
	display: flex
	flex-direction: column
	justify-content: center
	align-items: center
	text-align: center