.hero-unit
	/* margin-top 51px */
	margin-bottom 0
	background-image url(../img/hero.jpg)
	left @margin-bottom
	top @margin-bottom
	width 100%
	background-repeat no-repeat
	background-position center
	background-size cover
	-webkit-background-size @background-size
	-moz-background-size @background-size
	-o-background-size @background-size
	.call-hero
		font-style normal
		font-weight 900
		margin-top @top
		text-align @background-position
		font-size 4em
		color palette('Grey', '50')
	.msg-hero
		font-style normal
		font-weight 300
		text-align @background-position
		font-size 1.2em
		color palette('Grey', '50')
	.video-hero
		margin-top 10px
@media (min-width: 992px)
	.hero-unit
		/* margin-top 81px */
		padding-top 120px
		padding-bottom @padding-top
		.call-hero
			font-size 5em
		.msg-hero
			font-size 1.6em
		.video-hero
			margin-top 0
@media (min-width: 1200px)
	.hero-unit
		.call-hero
			font-size 7em