.navbar-brand
	padding 10px 15px
	.navbar-logo
		width 100px
@media (min-width: 992px)
	.navbar-fixed-top
		padding 15px 0
		.navbar-header
			.navbar-brand
				padding 3px 15px
				.navbar-logo
					width 140px
					height 42px