.features
	height 100vh
	background-color palette('Blue', '700')
	color palette('Grey', '50')
	border 4px black solid
	.container
		border 4px red solid
	.header-features
		border 4px yellow solid
		.title-features
			text-align center
		.divisor
			max-width 200px
	.block-features
		border 4px white solid
		.icon-features
			display block
			text-align center
			width 64px
			height 64px
		.block-title-features
			text-align center
		.block-description-features
			text-align center
	.block-features-two
		border 4px purple solid
		.icon-features
			display block
			text-align center
			width 64px
			height 64px
		.block-title-features
			text-align center
		.block-description-features
			text-align center