section.content-header
	div.container
		div.row.text-center
			div.col-md-8.col-md-offset-2
				h2.title-content Lorem ipsum dolor sit amet
				hr.small
section.content-a
	div.container
		div.row
			div.col-sm-6
				h2.title-content-heading Lorem ipsum dolor sit amet
				p.lead Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad labore libero perspiciatis officia inventore laboriosam in blanditiis ratione, iste cumque sequi, eligendi similique porro voluptatem voluptatibus veritatis maiores adipisci est.
			div.col-sm-6
				img.img-responsive.img-content(src="holder.js/400x300")
section.content-b
	div.container
		div.row
			div.col-sm-6.col-sm-push-6
				h2.title-content-heading Lorem ipsum dolor sit amet
				p.lead Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad labore libero perspiciatis officia inventore laboriosam in blanditiis ratione, iste cumque sequi, eligendi similique porro voluptatem voluptatibus veritatis maiores adipisci est.
			div.col-sm-6.col-sm-pull-6
				img.img-responsive.img-content(src="holder.js/400x300")
section.content-a
	div.container
		div.row
			div.col-sm-6
				h2.title-content-heading Lorem ipsum dolor sit amet
				p.lead Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad labore libero perspiciatis officia inventore laboriosam in blanditiis ratione, iste cumque sequi, eligendi similique porro voluptatem voluptatibus veritatis maiores adipisci est.
			div.col-sm-6
				img.img-responsive.img-content(src="holder.js/400x300")
