section.content-header
	div.container
		div.row
			div.col-md-8.col-md-offset-2(data-sr='enter top')
				h2.title-content Lorem ipsum dolor sit amet
				hr.small
section.content-a
	div.container
		div.row
			div.col-lg-5.col-sm-6(data-sr='enter left')
				h4.title-content-heading Lorem ipsum dolor sit amet
				p.lead Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad labore libero perspiciatis officia inventore laboriosam in blanditiis ratione, iste cumque sequi, eligendi similique porro voluptatem voluptatibus veritatis maiores adipisci est.
			div.col-lg-5.col-lg-offset-2.col-sm-6(data-sr='enter right')
				img.img-responsive.img-content(src="./img/img1.jpg")
section.content-b
	div.container
		div.row
			div.col-lg-5.col-lg-offset-1.col-sm-push-6.col-sm-6(data-sr='enter left')
				h4.title-content-heading Lorem ipsum dolor sit amet
				p.lead Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad labore libero perspiciatis officia inventore laboriosam in blanditiis ratione, iste cumque sequi, eligendi similique porro voluptatem voluptatibus veritatis maiores adipisci est.
			div.col-lg-5.col-sm-pull-6.col-sm-6(data-sr='enter right')
				img.img-responsive.img-content(src="./img/img2.jpg")
section.content-a
	div.container
		div.row
			div.col-lg-5.col-sm-6(data-sr='enter left')
				h4.title-content-heading Lorem ipsum dolor sit amet
				p.lead Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad labore libero perspiciatis officia inventore laboriosam in blanditiis ratione, iste cumque sequi, eligendi similique porro voluptatem voluptatibus veritatis maiores adipisci est.
			div.col-lg-5.col-lg-offset-2.col-sm-6(data-sr='enter right')
				img.img-responsive.img-content(src="./img/img1.jpg")
section.content-b
	div.container
		div.row
			div.col-lg-5.col-lg-offset-1.col-sm-push-6.col-sm-6(data-sr='enter left')
				h4.title-content-heading Lorem ipsum dolor sit amet
				p.lead Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad labore libero perspiciatis officia inventore laboriosam in blanditiis ratione, iste cumque sequi, eligendi similique porro voluptatem voluptatibus veritatis maiores adipisci est.
			div.col-lg-5.col-sm-pull-6.col-sm-6(data-sr='enter right')
				img.img-responsive.img-content(src="./img/img2.jpg")