section.content
	.content-header
		.container
			.row
				.col-md-8.col-md-offset-2.text-center
					h2.content-title-heading Lorem ipsum dolor sit amet consectetur adipisicing elit.
					hr.divisor
	.content-a
		.container
			.row
				.col-lg-5.col-sm-6
					h3.content-title-block Lorem ipsum dolor sit amet
					p.content-block Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad labore libero perspiciatis officia inventore laboriosam in blanditiis ratione, iste cumque sequi, eligendi similique porro voluptatem voluptatibus veritatis maiores adipisci est.
				.col-lg-5.col-lg-offset-2.col-sm-6
					img.img-responsive(src="./img/img.jpg")
	.content-a
		.container
			.row
				.col-lg-5.col-lg-offset-1.col-sm-push-6.col-sm-6
					h3.content-title-block Lorem ipsum dolor sit amet
					p.content-block Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad labore libero perspiciatis officia inventore laboriosam in blanditiis ratione, iste cumque sequi, eligendi similique porro voluptatem voluptatibus veritatis maiores adipisci est.
				.col-lg-5.col-sm-pull-6.col-sm-6
					img.img-responsive(src="./img/img.jpg")
	.content-a
		.container
			.row
				.col-lg-5.col-sm-6
					h3.content-title-block Lorem ipsum dolor sit amet
					p.content-block Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad labore libero perspiciatis officia inventore laboriosam in blanditiis ratione, iste cumque sequi, eligendi similique porro voluptatem voluptatibus veritatis maiores adipisci est.
				.col-lg-5.col-lg-offset-2.col-sm-6
					img.img-responsive(src="./img/img.jpg")
	.content-a.block-b
		.container
			.row
				.col-lg-5.col-lg-offset-1.col-sm-push-6.col-sm-6
					h3.content-title-block Lorem ipsum dolor sit amet
					p.content-block Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad labore libero perspiciatis officia inventore laboriosam in blanditiis ratione, iste cumque sequi, eligendi similique porro voluptatem voluptatibus veritatis maiores adipisci est.
				.col-lg-5.col-sm-pull-6.col-sm-6
					img.img-responsive(src="./img/img.jpg")