section.content
	div.container
		div.row.text-center
			div.col-md-8.col-md-offset-2
				h2 Lorem ipsum dolor sit amet
				hr.small
		div.row
			div.col-sm-6
				h2 Lorem ipsum dolor sit amet
				p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad labore libero perspiciatis officia inventore laboriosam in blanditiis ratione, iste cumque sequi, eligendi similique porro voluptatem voluptatibus veritatis maiores adipisci est.
			div.col-sm-6
				img.img-responsive(src="http://blog.concretesolutions.com.br/wp-content/uploads/2014/07/UX.jpg")
		div.row
			div.col-sm-6.col-sm-push-6
				h2 Lorem ipsum dolor sit amet
				p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad labore libero perspiciatis officia inventore laboriosam in blanditiis ratione, iste cumque sequi, eligendi similique porro voluptatem voluptatibus veritatis maiores adipisci est.
			div.col-sm-6.col-sm-pull-6
				img.img-responsive(src="http://blog.concretesolutions.com.br/wp-content/uploads/2014/07/UX.jpg")
		div.row
			div.col-sm-6
				h2 Lorem ipsum dolor sit amet
				p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad labore libero perspiciatis officia inventore laboriosam in blanditiis ratione, iste cumque sequi, eligendi similique porro voluptatem voluptatibus veritatis maiores adipisci est.
			div.col-sm-6
				img.img-responsive(src="http://blog.concretesolutions.com.br/wp-content/uploads/2014/07/UX.jpg")
