section.features
	div.container
		div.row.text-center
			div.col-md-8.col-md-offset-2
				h2.title-features Lorem ipsum dolor sit amet
				hr.small
			div.row.block-features
				div.col-sm-4.col-md-4
					i.material-icons query_builder
					h3.block-title-features Lorem ipsum dolor
					p.block-text-features Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum exercitationem fuga voluptatem asperiores omnis aperiam.
				div.col-sm-4.col-md-4
					i.material-icons theaters
					h3.block-title-features Lorem ipsum dolor
					p.block-text-features Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum exercitationem fuga voluptatem asperiores omnis aperiam.
				div.col-sm-4.col-md-4
					i.material-icons today
					h3.block-title-features Lorem ipsum dolor
					p.block-text-features Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum exercitationem fuga voluptatem asperiores omnis aperiam.
			div.row.block-features-two
				div.col-sm-4.col-md-4
					i.material-icons stay_current_landscape
					h3.block-title-features Lorem ipsum dolor
					p.block-text-features Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum exercitationem fuga voluptatem asperiores omnis aperiam.
				div.col-sm-4.col-md-4
					i.material-icons insert_chart
					h3.block-title-features Lorem ipsum dolor
					p.block-text-features Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum exercitationem fuga voluptatem asperiores omnis aperiam.
				div.col-sm-4.col-md-4
					i.material-icons view_list
					h3.block-title-features Lorem ipsum dolor
					p.block-text-features Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum exercitationem fuga voluptatem asperiores omnis aperiam.