section.features
	div.vertical-features
		div.container
			div.row.header-features(data-sr='enter top')
				div.col-md-8.col-md-offset-2
					h2.title-features Lorem ipsum dolor sit amet
					hr.divisor
			div.row.block-features
				div.col-sm-4.col-md-4(data-sr='enter left')
					img.icon-features(src="../img/stopwatch.png")
					h5.block-title-features Lorem ipsum dolor
					p.block-description-features Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum exercitationem fuga voluptatem asperiores omnis aperiam.
				div.col-sm-4.col-md-4(data-sr='enter bottom')
					img.icon-features(src="../img/dumbbell.png")
					h5.block-title-features Lorem ipsum dolor
					p.block-description-features Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum exercitationem fuga voluptatem asperiores omnis aperiam.
				div.col-sm-4.col-md-4(data-sr='enter right')
					img.icon-features(src="../img/verification.png")
					h5.block-title-features Lorem ipsum dolor
					p.block-description-features Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum exercitationem fuga voluptatem asperiores omnis aperiam.
			div.row.block-features
				div.col-sm-4.col-md-4(data-sr='enter left')
					img.icon-features(src="../img/ipad.png")
					h5.block-title-features Lorem ipsum dolor
					p.block-description-features Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum exercitationem fuga voluptatem asperiores omnis aperiam.
				div.col-sm-4.col-md-4(data-sr='enter bottom')
					img.icon-features(src="../img/synchronization.png")
					h5.block-title-features Lorem ipsum dolor
					p.block-description-features Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum exercitationem fuga voluptatem asperiores omnis aperiam.
				div.col-sm-4.col-md-4(data-sr='enter right')
					img.icon-features(src="../img/multiple.png")
					h5.block-title-features Lorem ipsum dolor
					p.block-description-features Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum exercitationem fuga voluptatem asperiores omnis aperiam.