section.features
	.features-header
		.container
			.row
				.col-md-8.col-md-offset-2.text-center
					h2.features-title-heading Lorem ipsum dolor sit amet consectetur adipisicing elit.
					hr.divisor
	.features-box-a
		.container
			.row
				.col-md-4.text-center
					span.icon.icon-stopwatch
					h3.features-title-box Lorem ipsum dolor
					p.features-content-box Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore, ipsam animi dolorum amet doloribus incidunt quis nostrum pariatur perspiciatis natus harum sit voluptatem nesciunt ullam hic ducimus minima possimus nihil.
				.col-md-4.text-center
					span.icon.icon-dumbbell
					h3.features-title-box Lorem ipsum dolor
					p.features-content-box Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore, ipsam animi dolorum amet doloribus incidunt quis nostrum pariatur perspiciatis natus harum sit voluptatem nesciunt ullam hic ducimus minima possimus nihil.
				.col-md-4.text-center
					span.icon.icon-ipad
					h3.features-title-box Lorem ipsum dolor
					p.features-content-box Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore, ipsam animi dolorum amet doloribus incidunt quis nostrum pariatur perspiciatis natus harum sit voluptatem nesciunt ullam hic ducimus minima possimus nihil.
	.features-box-a.box-b
		.container
			.row
				.col-md-4.text-center
					span.icon.icon-verification
					h3.features-title-box Lorem ipsum dolor
					p.features-content-box Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore, ipsam animi dolorum amet doloribus incidunt quis nostrum pariatur perspiciatis natus harum sit voluptatem nesciunt ullam hic ducimus minima possimus nihil.
				.col-md-4.text-center
					span.icon.icon-synchronization
					h3.features-title-box Lorem ipsum dolor
					p.features-content-box Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore, ipsam animi dolorum amet doloribus incidunt quis nostrum pariatur perspiciatis natus harum sit voluptatem nesciunt ullam hic ducimus minima possimus nihil.
				.col-md-4.text-center
					span.icon.icon-multiple
					h3.features-title-box Lorem ipsum dolor
					p.features-content-box Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore, ipsam animi dolorum amet doloribus incidunt quis nostrum pariatur perspiciatis natus harum sit voluptatem nesciunt ullam hic ducimus minima possimus nihil.