footer#menu2.page-footer.scrollspy
	.container
		.row
			.col.s8.offset-s2
				h2 Lorem ipsum dolor
				h4 Lorem ipsum dolor
			form#send_mail.col.s6.offset-s3
				.row
					.input-field.col.s12
						input#name.validate(name='name', type='text', required='')
						label(for='name') Nome
					.input-field.col.s12
						input#email.validate(name='email', type='email', required='')
						label(for='email') Email
					.input-field.col.s12
						textarea#message.materialize-textarea(name='msg')
						label(for='message') Mensagem
					.input-field.col.s12
						button.btn.waves-effect.waves-light(name='submit', type='submit') Enviar
	.footer-copyright
		.container
			.row
				|	Lorem ipsum dolor
