footer.footer
	div.container
		div.row
			div.col-md-4
				div.social-header-footer
					h6.social-title-footer Acompanhe nossos canais
				ul#social-links-footer
					li
						a(href="https://www.facebook.com/", target="_blank")
							img(src="../img/facebook.png" alt="Facebook")
					li
						a(href="https://twitter.com/", target="_blank")
							img(src="../img/twitter.png" alt="Twitter")
					li
						a(href="https://www.youtube.com/", target="_blank")
							img(src="../img/youtube.png", alt="Youtube")
			div.col-md-4
				div.contact-header-footer
					h6.contact-title-footer Fale com a gente
				ul#contact-list-footer
					li
						img.icon(src="../img/phone.png")
						span (35) 8842-8441 | (35) 9176-4917
					li
						img.icon(src="../img/mail.png")
						span meutreinamento@email.com
					li
						img.icon(src="../img/skype.png")
						span skype@meutreinamento
			div.col-md-4
				div.localization-header-footer
					h6.localization-title-footer Venha nos conhecer
				ul#localization-footer
					li
						img.icon(src="../img/map.png")
						span Rua Ângelo Bertoni, 673 - Jardim Guaxupé 
						span.city Guaxupé - MG