footer.footer#contact
	.footer-content
		.container
			.row
				.col-sm-3
					.footer-description
						span.icon.icon-logo
						p.footer-text-description Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore, ipsam animi dolorum amet doloribus incidunt quis nostrum pariatur perspiciatis natus harum sit voluptatem nesciunt ullam hic ducimus minima possimus nihil.
				.col-sm-3
					.footer-links
						h3.footer-title-box Lorem ipsum
						ul.list-inline
							li
								a(href="#") Contato
							li
								a(href="#") Blog
							li
								a(href="#") F.A.Q
				.col-sm-3
					.footer-social
						h3.footer-title-box Lorem ipsum
						.footer-social-box.hidden-md.hidden-lg
							a(href="https://www.facebook.com/", target="_blank")
								span.icon.icon-xs-facebook
							a(href="https://twitter.com/", target="_blank")
								span.icon.icon-xs-twitter
							a(href="https://www.youtube.com/", target="_blank")
								span.icon.icon-xs-youtube
						.footer-social-box.hidden-xs.hidden-sm
							a(href="https://www.facebook.com/", target="_blank")
								span.icon.icon-md-facebook
							a(href="https://twitter.com/", target="_blank")
								span.icon.icon-md-twitter
							a(href="https://www.youtube.com/", target="_blank")
								span.icon.icon-md-youtube
				.col-sm-3
					.footer-address
						h3.footer-title-box Lorem ipsum
						address.footer-address-box
							| Rua Ângelo Bertoni, 673
							br
							| Jardim Guaxupé, Guaxupé-MG
							br
							| (35) 3551-1046
							br
							a(href='mailto:#') timerfit@example.com.br