header
	div.container
		div.row
			div.col-md-8.col-md-offset-2
				h1(data-sr='enter top, spin 60deg, roll 10deg') Lorem ipsum dolor sit amet, consectetur adipisicing elit.
				h4(data-sr='enter bottom, spin 60deg, roll -10deg') Lorem ipsum dolor sit amet, consectetur adipisicing elit.
				button.btn.btn-info.youtube(data-sr='enter bottom, spin 60deg, roll -10deg') Lorem ipsum dolor sit amet