header.header#home
	.header-content
		.container
			.row
				.col-md-10.col-md-offset-1
					h1.header-title Lorem ipsum dolor sit amet consectetur adipisicing elit.
					p.header-subtitle Lorem ipsum dolor sit amet, consectetur adipisicing elit.
					button.btn.btn-success.btn-lg.youtube Clique aqui para ver o vídeo
					.bounce.hidden-xs
						a.nav-scroll(href="#features")
							i.icon.icon-arrow