header
	div.container
		div.row
			div.col-md-8.col-md-offset-2
				h1.title-header(data-sr='enter top, spin 60deg, roll 10deg') Lorem ipsum dolor sit amet consectetur adipisicing elit.
				p.description-header(data-sr='enter bottom, spin 60deg, roll -10deg') Lorem ipsum dolor sit amet, consectetur adipisicing elit.
				button.btn.btn-success.youtube(data-sr='enter bottom, spin 60deg, roll -10deg') Lorem ipsum dolor