header.header
	.header-content
		.container
			.row
				.col-md-8.col-md-offset-2
					span.icon.icon-logo
					h1.header-title Lorem ipsum dolor sit amet consectetur adipisicing elit.
					p.header-subtitle Lorem ipsum dolor sit amet, consectetur adipisicing elit.
					button.btn.btn-success.btn-lg.youtube Lorem ipsum dolor