section.blue.darken-3
	div.container
		div.row
			div.col.s12
				h2.center-align.grey-text.text-lighten-5 Lorem ipsum dolor sit amet, consectetur adipisicing
				h4.center-align.grey-text.text-lighten-5 Lorem ipsum dolor sit amet, consectetur adipisicing
		div.row
			div.col.s8.offset-s2
				div.video-container.no-controls
					iframe(width="560" height="315", src="//www.youtube.com/embed/v1uyQZNg2vE", frameborder="0", allowfullscreen="")
