section#home.jumbotron.hero-unit
    div.container
        div.row
            div.col-sm-6.col-md-6(data-sr='enter left, wait 0.8s')
                h1.call-hero Lorem ipsum dolor sit amet
                p.msg-hero Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum exercita ipsum dolor sit amet.
            div.col-sm-6.col-md-6
                div.embed-responsive.embed-responsive-4by3.video-hero(data-sr='enter right, wait 0.8s')
                    iframe.embed-responsive-item(src='https://player.vimeo.com/video/134282244')