section.jumbotron.jumbotron-hero.img-hero
    div.container
        div.row
            div.col-sm-6.col-md-6
                h1.call-hero Lorem ipsum dolor sit amet
                p.msg-hero Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum exercita ipsum dolor sit amet.
            div.col-sm-6.col-md-6
                div.embed-responsive.embed-responsive-4by3.video-hero
                    iframe.embed-responsive-item(src='http://player.vimeo.com/video/134282244')