nav.navbar.navbar-default.navbar-fixed-top(role='navigation')
	.container
		.navbar-header
			button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-landingpage-collapse')
				span.sr-only Toggle navigation
				span.icon-bar
				span.icon-bar
				span.icon-bar
			a.navbar-brand.nav-scroll(href='#home')
				img.logo(src='img/logo.svg')
		.collapse.navbar-collapse.navbar-landingpage-collapse
			ul.nav.navbar-nav.navbar-right
				li
					a.nav-scroll(href='#home') Home
				li
					a.nav-scroll(href='#features') Features
				li
					a.nav-scroll(href='#content') Content
				li
					a.nav-scroll(href='#subscribe') Subscribe
				li
					a.nav-scroll(href='#contact') Contact