section.subscribe
	.subscribe-header
		.container
			.row
				.col-md-8.col-md-offset-2.text-center
					h2.subscribe-title-heading Lorem ipsum dolor sit amet consectetur adipisicing elit.
					hr.divisor
	.subscribe-form
		.container
			.row
				.col-md-8.col-md-offset-2.text-center
					.well.subscribe-form-content
						form(id="#", role="form")
							.input-group
								input.form-control.input-lg.subscribe-mail(id="email", type="email", placeholder="Digite seu Email", required)
								span.input-group-btn
									button.btn.btn-warning.btn-lg.subscribe-submit(type="submit") Quero me Cadastrar